@model List<Consultora.Entidad.RequerimientoActividadEntidad>
    @{
        ViewBag.Title = "_ResultadosTiempoConstruccion";
    }

@if (Model != null && Model.Count > 0)
{
    <h5>Resultados por Actividad</h5>
    <table>
        <thead>
            <tr>
                <th>Requerimiento</th>
                <th>Actividad</th>
                <th class="center">Complejidad</th>
                <th class="center">Cantidad</th>
                <th class="center">Tiempo Estimado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entidad in Model)
            {
                <tr>
                    <td>
                        @entidad.Requerimiento.Nom_Requerimiento
                    </td>
                    <td>
                        @entidad.Actividad.Nom_Actividad
                    </td>
                    <td class="center">
                        @entidad.ComplejidadActividad.Nom_Complejidad_Actividad
                    </td>
                    <td class="center">
                        @entidad.Cantidad
                    </td>
                    <td class="center">
                        @entidad.Tiempo_Estimado
                    </td>

                </tr>
            }

        </tbody>
    </table>
}


