@model Consultora.Entidad.IniciativaEntidad
@{
    ViewBag.Title = "RespuestaCliente";
}

<h4>Esperando Respuesta de Cliente</h4>
<div class="search">
    <span class="titulo">Información de Oportunidad</span>

    @using (Html.BeginForm("GrabarRespuestaCliente", "Iniciativa", FormMethod.Post, new { @id = "FormERC", @enctype = "multipart/form-data" }))
    {
        @Html.Hidden("Indicador", "")
        @Html.Hidden("IndiUrl", "")
        @Html.HiddenFor(model => model.Cod_Iniciativa, null)
        @Html.HiddenFor(model => model.RFP, null)
        @Html.HiddenFor(model => model.Propuesta_Tecnica, null)
        @Html.HiddenFor(model => model.Correo_Propuesta_Tecnica, null)
        <article class="sector-100">
            <label>Nombre:</label>
            @Html.TextBox("Nom_Iniciativa", null)
        </article>
        <article class="sector-100">
            <label>Descripcion:</label>
            @Html.TextAreaFor(model => model.Des_Iniciativa)
        </article>
        <article class="sector-100">
            <label>Estado Oportunidad:</label>
            @Html.TextBoxFor(model => model.EstadoIniciativa, null, new { @disabled = "true" })
        </article>         
        <article class="sector-50">
            <label>Cod. Oportunidad:</label>
            @Html.TextBoxFor(model => model.Cod_Oportunidad, null, new { @disabled = "true" })
        </article>
        <article class="sector-50">
            <label>Fecha Registro:</label>
            @Html.TextBoxFor(model => model.FechaRegistro, null, new { @disabled = "true" })
        </article>
        <article class="sector-50">
            <label>Unidad Negocio:</label>
            @Html.DropDownListFor(model => model.Negocio.Cod_Negocio, new SelectList(ViewBag.ListaNegocio, "Cod_Negocio", "Nom_Negocio"), null, null)
        </article>
        <article class="sector-50">
            <label>Tipo Servicio:</label>
            @Html.DropDownListFor(model => model.Servicio.Cod_Servicio, new SelectList(ViewBag.ListaTipoServicio, "Cod_Servicio", "Nom_Servicio"), null, null)
        </article>
        <article class="sector-50">
            <label>Cliente:</label>
            @Html.DropDownListFor(model => model.Cliente.Cod_Cliente, new SelectList(ViewBag.ListaCliente, "Cod_Cliente", "Razon_Social"), null, null)
        </article>
        <article class="sector-25">
            <label>RFP:</label>
            <input type="file" id="RFP" name="RFP">
        </article>
        <article class="sector-25">
            <a class="btn btn-info Descargar" id="btn-rfp-descargar" href="/Iniciativa/DescargarRFP">Descargar</a>
        </article>
        <article class="sector-25">
            <label>Propuesta Técnica:</label>
            <input type="file" id="PT" name="PT">
        </article>
        <article class="sector-25">
            <a class="btn btn-info Descargar" id="btn-pt-descargar" href="/Iniciativa/DescargarPT">Descargar</a>
        </article>
        @*<article class="sector-25">
            <label>Correo Prop. Téc.:</label>
            <input type="file" id="CPT" name="CPT">
        </article>
        <article class="sector-25">
            <a class="btn btn-info Descargar" id="btn-cpt-descargar" href="/Iniciativa/DescargarCPT">Descargar</a>
        </article>*@

        <article class="sector-100">
            <label>Responsable Servicio:</label>
            @Html.DropDownListFor(model => model.ResponsableServicio.Cod_Usuario, new SelectList(ViewBag.ListaResponsableServicio, "Cod_Usuario", "NombreEmpleado"), null, null)
        </article>
        <article class="sector-100">
            <label>Consultor Lider:</label>
            @Html.DropDownListFor(model => model.ConsultorLider.Cod_Usuario, new SelectList(ViewBag.ListaConsultorLider, "Cod_Usuario", "NombreEmpleado"), null, null)
        </article>
        <div class="clear">
        </div>
        <article class="sector-100">
            <div class="alert alert-danger" role="alert" id="Message-Error">
                <strong></strong>
            </div>
        </article>
        <article class="lista-botones">
            <button type="submit" class="btn btn-info" id="btn-erc-guardar">Guardar</button>
            <button type="button" class="btn btn-info" id="btn-erc-aprobado">Propuesta Aprobada</button>
            <button type="button" class="btn btn-info" id="btn-erc-observado">Propuesta Observada</button>
            <button type="button" class="btn btn-info" id="btn-erc-cancelar" data-toggle="modal" data-target="#ModalCancelarOportunidad">Cancelar</button>
        </article>
        <article class="sector-100">
            <img src="~/images/pd-esperando-respuesta-cliente.png" width="100%" />
        </article>
    }
</div>

<div id="ModalCancelarOportunidad" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mensaje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro que desea cancelar esta oportunida?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="SiCancelarOportunidad">Si</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PopupCancelarOportunidad" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cancelar Oportunidad!</h4>
            </div>
            <div class="modal-body">

                <div class="form-popup">
                    <span class="titulo">Información de Cancelación</span>
                    <article class="sector-50">
                        <label>Motivo:</label>
                        @Html.DropDownList("Motivo_Cancelacion", new SelectList(new List<SelectListItem> {
                       new SelectListItem { Text = "Riesgo de Rentabilidad", Value = "1" },
                       new SelectListItem { Text = "Cliente no acepta propuesta", Value = "2" },
                       new SelectListItem { Text = "Otros", Value = "3" }
                        }, "Value", "Text"), null, null)
                    </article>
                    <article class="sector-50">
                        <label>Comentario:</label>
                        @Html.TextArea("Comentarios", "")
                    </article>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="OKCancelarOportunidad">Aceptar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/script-layaout")
@Scripts.Render("~/bundles/oportunidad")

