@model Consultora.Entidad.IniciativaEntidad
@{
    ViewBag.Title = "RevisarPropuestaTecnica";
}

<h4>Revisar Propuesta Técnica</h4>
<div class="search">
    <span class="titulo">Información de Oportunidad</span>

    @using (Html.BeginForm("GrabarRevisarPropuestaTecnica", "Iniciativa", FormMethod.Post, new { @id = "FormRPT", @enctype = "multipart/form-data" }))
    {
        @Html.Hidden("Indicador", "")
        @Html.Hidden("IndiUrl", "")        
        @Html.HiddenFor(model => model.Cod_Iniciativa, null)
        @Html.HiddenFor(model => model.RFP, null)
        @Html.HiddenFor(model => model.Propuesta_Tecnica, null)
        <article class="sector-100">
            <label>Nombre:</label>
            @Html.TextBox("Nom_Iniciativa", null)
        </article>
        <article class="sector-100">
            <label>Descripcion:</label>
            @Html.TextAreaFor(model => model.Des_Iniciativa)
        </article>
        <article class="sector-100">
            <label>Estado Oportunidad:</label>
            @Html.TextBoxFor(model => model.EstadoIniciativa, null, new { @disabled = "true" })
        </article>        
        <article class="sector-50">
            <label>Cod. Oportunidad:</label>
            @Html.TextBoxFor(model => model.Cod_Oportunidad, null, new { @disabled = "true" })
        </article>
        <article class="sector-50">
            <label>Fecha Registro:</label>
            @Html.TextBoxFor(model => model.FechaRegistro, null, new { @disabled = "true" })
        </article>
        <article class="sector-50">
            <label>Unidad Negocio:</label>
            @Html.DropDownListFor(model => model.Negocio.Cod_Negocio, new SelectList(ViewBag.ListaNegocio, "Cod_Negocio", "Nom_Negocio"), null, null)
        </article>
        <article class="sector-50">
            <label>Tipo Servicio:</label>
            @Html.DropDownListFor(model => model.Servicio.Cod_Servicio, new SelectList(ViewBag.ListaTipoServicio, "Cod_Servicio", "Nom_Servicio"), null, null)
        </article>
        <article class="sector-50">
            <label>Cliente:</label>
            @Html.DropDownListFor(model => model.Cliente.Cod_Cliente, new SelectList(ViewBag.ListaCliente, "Cod_Cliente", "Razon_Social"), null, null)
        </article>
        <article class="sector-25">
            <label>RFP:</label>
            <input type="file" id="RFP" name="RFP">
        </article>
        <article class="sector-25">
            <a class="btn btn-info Descargar" id="btn-acl-descargar" href="/Iniciativa/DescargarRFP">Descargar</a>
        </article>
        <article class="sector-25">
            <label>Propuesta Técnica:</label>
            <input type="file" id="PT" name="PT">
        </article>
        <article class="sector-25">
            <a class="btn btn-info Descargar" id="btn-acl-descargar" href="/Iniciativa/DescargarPT">Descargar</a>
        </article>

        <article class="sector-100">
            <label>Responsable Servicio:</label>
            @Html.DropDownListFor(model => model.ResponsableServicio.Cod_Usuario, new SelectList(ViewBag.ListaResponsableServicio, "Cod_Usuario", "NombreEmpleado"), null, null)
        </article>
        <article class="sector-100">
            <label>Consultor Lider:</label>
            @Html.DropDownListFor(model => model.ConsultorLider.Cod_Usuario, new SelectList(ViewBag.ListaConsultorLider, "Cod_Usuario", "NombreEmpleado"), null, null)
        </article>
        <div class="clear">
        </div>
        <article class="sector-100">
            <div class="alert alert-danger" role="alert" id="Message-Error">
                <strong></strong>
            </div>
        </article>
        <article class="lista-botones">
            <button type="submit" class="btn btn-info" id="btn-rpt-guardar">Guardar</button>
            <button type="button" class="btn btn-info" id="btn-rpt-conforme">Propuesta Conforme</button>
            <button type="button" class="btn btn-info" id="btn-rpt-no-conforme">Propuesta No Conforme</button>

        </article>
        <article class="sector-100">
            <img src="~/images/pd-revisar-propuesta-tecnica.png" width="100%" />
        </article>
    }
</div>

@Scripts.Render("~/bundles/script-layaout")
@Scripts.Render("~/bundles/oportunidad")

