@model List<Consultora.Entidad.ServicioEmpresarialEntidad>
@{
    ViewBag.Title = "_ResultadoBusquedaServEmpresarial";
}
@if (Model != null && Model.Count > 0)
{
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-th"></i> </span>
                <h5>Listado de Servicios</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nombre</th>
                            <th>Cliente</th>
                            <th>Tipo</th>
                            <th>Responsable</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var entidad in Model)
                        {
                            <tr class="odd gradeX">
                                <td>
                                    @using (Html.BeginForm("AsignacionRRHH", "ServicioEmpresarial", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                                    {
                                        <input type="hidden" id="Cod_Servicio_Empresarial" name="Cod_Servicio_Empresarial" value="@entidad.Cod_Servicio_Empresarial" />
                                        <button type="submit" class="btn btn-primary btn-sm"><span class="separarboton glyphicon glyphicon-pencil"></span>Ver</button>
                                    }
                                </td>
                                <td>@entidad.Nom_Servicio_Empresarial</td>
                                <td>
                                    @entidad.Cliente.Razon_Social
                                </td>
                                <td>@entidad.Servicio.Nom_Servicio</td>
                                <td> @entidad.Responsable</td>
                                <td align="center">@entidad.Fecha_Inicio.ToString("dd/MM/yyyy")</td>
                                <td align="center">@entidad.Fecha_Fin.ToString("dd/MM/yyyy")</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}


